#container{
    width: 80%;
    height: 450px;
    border: 1px solid black;
    margin: 0 auto;
    position: relative;
}

#container>img{
    width: 33.3%;
    height: 100%;
    position: absolute;
}

#container>.btn{
    position: absolute;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 25px;
    top: 200px;
    background: black;
    color: #ffffff;
    font-size: 20px;
}

#container>#btn1:hover{
    box-shadow: 10px 0px 20px 0px #000;
}

#container>#btn2:hover{
    box-shadow: -10px 0px 20px 0px #000;
}


#container>#btn1:active, #container>#btn1:focus{
    outline:0;
}

#container>#btn2:active, #container>#btn2:focus{
    outline:0;
}

#container>#btn2{
    position: relative;
    float: right;
}

